<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="siteUrl" value="https://paymentstest.gcskw.com/" />
    <!--paymentstest.gcskw.com-->
    <add key="responseUrl" value="https://paymentstest.gcskw.com/NewResponse.aspx" />
    <add key="responseUrlTEST" value="https://paymentstest.gcskw.com/NewResponseTEST.aspx" />
    <!--<add key="errorUrl" value="https://paymentstest.gcskw.com/internalError.aspx" />-->
    <add key="errorUrl" value="https://paymentstest.gcskw.com/internalError.aspx" />
    <add key="GCSReceiptsResourcePath" value="C:\GCSKnetDLL\GCSResource\" />
    <add key="GCSReceiptsAlias" value="gcs" />
    <add key="AllowLog" value="true" />
    <add key="AllowLogNotifier" value="false" />
    <add key="LogDestination" value="DatabaseLogger" />
    <!--LogDestination - Nlog rule name-->
    <add key="LogNotifyingMode" value="Email" />
    <!--LogNotifyingMethod - Email,SMS-->
    <add key="LogMode" value="NLog" />
    <!--LogMode can be Manual/NLog-->
    <add key="EventLog" value="false" />
    <add key="DBActivityLog" value="false" />
    <add key="ConnectivityTEST" value="false" />
    <add key="LoggingAppName" value="GCSReceipts" />
    <add key="ErrorAlert" value="true" />
    <add key="HELP" value="false" />
    <add key="reCaptchaPublicKey" value="Your site key" />
    <add key="reCaptchaPrivateKey" value="Your secret key" />
  </appSettings>
  <connectionStrings>
    <!--    <add name="conStr" connectionString="Data Source=10.10.27.201;user id=mcweb;password=mcweb;initial catalog=MicroClearkw_Apr2018;Connect Timeout=1200" /> -->
    <!--<add name="conStr" connectionString="Data Source=10.10.27.201;user id=mcweb;password=mcweb;initial catalog=MicroClearLight_june2018;Connect Timeout=1200" providerName="System.Data.SqlClient" />-->
    <!--<add name="conStr" connectionString="Data Source=CSCoreDB;user id=mcweb;password=mC8ml@Core8b;initial catalog=MicroClearKW_P3PRO; Connect Timeout=1200" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conStr" connectionString="Data Source=10.10.27.201;user id=mcweb;password=mcweb;initial catalog=MicroClearLight_june2018;Connect Timeout=1200" />-->
    <add name="conStr" connectionString="Data Source=10.10.27.201;user id=mcweb;password=mcweb;initial catalog=MicroClearLight_Aug18;Connect Timeout=1200"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages buffer="true" enableSessionState="true" enableViewState="true" enableViewStateMac="true" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpRuntime enableVersionHeader="false" enableHeaderChecking="true" enable="true" />
    <!-- <customErrors mode="RemoteOnly" defaultRedirect="/genericError.html" redirectMode="ResponseRewrite">
      <error statusCode="403" redirect="/genericError.html" />
      <error statusCode="404" redirect="/genericError.html" />
      <error statusCode="500" redirect="/genericError.html" />
      <error statusCode="402" redirect="/genericError.html" />
      <error statusCode="400" redirect="/genericError.html" />
    </customErrors> -->
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
    <httpProtocol>
      <customHeaders>
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
        <add name="X-Xss-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <!--<add name="Content-Security-Policy" value="default-src 'self'" />-->
        <add name="Referrer-Policy" value="no-referrer" />
        <add name="X-Permitted-Cross-Domain-Policies" value="none" />
        <!--<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />-->
        <remove name="X-Powered-By" />
        <add name="X-UA-Compatible" value="IE=EmulateIE9" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="obj" />
          <add segment="properties" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <!--<httpErrors>
      <remove statusCode="400" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <error statusCode="401" prefixLanguageFilePath="" path="/genericError.html" responseMode="ExecuteURL" />
      <error statusCode="403" prefixLanguageFilePath="" path="/genericError.html" responseMode="ExecuteURL" />
      <error statusCode="404" prefixLanguageFilePath="" path="/genericError.html" responseMode="ExecuteURL" />
      <error statusCode="400" prefixLanguageFilePath="" path="/genericError.html" responseMode="ExecuteURL" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <error statusCode="405" prefixLanguageFilePath="" path="/genericError.html" responseMode="ExecuteURL" />
      <error statusCode="406" prefixLanguageFilePath="" path="/genericError.html" responseMode="ExecuteURL" />
      <error statusCode="412" prefixLanguageFilePath="" path="/genericError.html" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="502" subStatusCode="-1" />
      <error statusCode="500" prefixLanguageFilePath="" path="/genericError.html" responseMode="ExecuteURL" />
      <error statusCode="501" prefixLanguageFilePath="" path="/genericError.html" responseMode="ExecuteURL" />
      <error statusCode="502" prefixLanguageFilePath="" path="/genericError.html" responseMode="ExecuteURL" />
    </httpErrors>-->
    <defaultDocument>
      <files>
        <add value="HomePage.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>